<footer>
  <div class="footer-fts">
    <div class="footer-section">
      <h3>Contáctanos</h3>
      <ul class="contact-links">
        <li><a href="tel:+573102237454"><i class="fa-solid fa-phone"></i> +57 310 2237454</a></li>
        <li><a href="mailto:info@fundaciontodossumamos.org"><i class="fa-solid fa-envelope"></i> info@fundaciontodossumamos.org</a></li>
      </ul>
      <!-- Contenido relacionado con la marca registrada -->
    </div>
    <div class="footer-section">
      <h3>Avisos legales</h3>
      <ul class="legal-links">
        <li><a href="assets/docs/TERMINOS-Y-CONDICIONES.pdf" target="_blank">Aviso legal</a></li>
        <li><a href="assets/docs/Tramiento-de-datos.pdf" target="_blank">Política de privacidad</a></li>
        <li><a href="assets/docs/14966988500-RUT-FOUNDATION-WE-ALL-ADD-UP.pdf" target="_blank">Documentación legal</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Preguntas frecuentes</h3>
      <ul class="faq-links">
        <li><a href="/quiero-donar">¿Cómo puedo donar?</a></li>
        <li><a href="/programas">¿Cuáles son los servicios ofrecidos?</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <!-- <h2>Redes sociales</h2> -->
      <ul class="social-links">
        <a class="social-logo" href="https://www.linkedin.com/in/fundacion-todos-sumamos-b655b92a4?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank">
          <i class="fa-brands fa-linkedin-in" id="linkedin-logo"></i>
        </a>
        <a class="social-logo" href="https://www.tiktok.com/@fundacion.todos.s?_t=8jS5qkoBRXK&_r=1" target="_blank">
          <i class="fa-brands fa-tiktok" id="tiktok-logo"></i>
        </a>
        <a class="social-logo" href="https://www.youtube.com/channel/UCUp8GFxgWMnR9pEfpZTWaNg" target="_blank">
          <i class="fa-brands fa-youtube" id="youtube-logo"></i>
        </a>
        <a class="social-logo" href="https://www.facebook.com/people/Fundaci%C3%B3n-Todos-Sumamos/61554371053975/?mibextid=LQQJ4d" target="_blank">
          <i class="fa-brands fa-facebook" id="facebook-logo"></i>
        </a>
        <a class="social-logo" href="https://www.instagram.com/fundacionts?igsh=MW1xMDNjcDRxeXVxaA==" target="_blank">
          <i class="fa-brands fa-instagram" id="instagram-logo"></i>
        </a>
      </ul>
    </div>
  </div>
  <div class="copyright-fts">
    <p>Copyright - Fundación Todos Sumamos 2024 © - Todos los derechos reservados</p>
  </div>
</footer>
