<footer class="footer py-large px-half text-grayscale-white text-xsmall">
    <div class="footer-section">
        <h2>Fundación Todos Sumamos 2023 ©</h2>
        <p>Nit: 9098765432-1.</p>
        <p>Dirección de notificaciones: Calle 9 # 5-46 Chía - Cundinamarca</p>
        <!-- Contenido relacionado con la marca registrada -->
    </div>
    <div class="footer-section">
        <h2>Avisos legales</h2>
        <ul class="legal-links">
            <li><a href="#">Aviso legal</a></li>
            <li><a href="#">Política de privacidad</a></li>
            <li><a href="#">Condiciones de contratación</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <h2>Preguntas frecuentes</h2>
        <ul class="faq-links">
            <li><a href="#">¿Cómo puedo donar?</a></li>
            <li><a href="#">¿Cuáles son los servicios ofrecidos?</a></li>
            <li><a href="#">¿Cómo puedo contactar?</a></li>
        </ul>
    </div>
    <div class="footer-section">
        <!-- <h2>Redes sociales</h2> -->
        <ul class="social-links">
            <a class="social-logo" href=""><i class="fa-brands fa-linkedin-in" id="linkedin-logo"></i></a>
            <a class="social-logo" href=""><i class="fa-brands fa-twitter"  id="twitter-logo"></i></a>
            <a class="social-logo" href=""><i class="fa-brands fa-youtube" id="youtube-logo"></i></a>
            <a class="social-logo" href=""><i class="fa-brands fa-facebook" id="facebook-logo"></i></a>
            <a class="social-logo" href=""><i class="fa-brands fa-instagram" id="instagram-logo"></i></a>

        </ul>
    </div>
</footer>
