header {
  padding: 12px 0;
  background-color: #f2581a;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.logo a {
  text-decoration: none;
  color: white;
  font-size: xx-large;
}

.menu {
  margin-top: 10px;
}

.menu ul {
  padding: 0;
  margin: 0;
}

.menu ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 24px;
  text-transform: uppercase;
}

.menu ul li a {
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}

.menu ul li a:hover {
  color: #000;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

i.fa-solid.fa-handshake {
  font-size: 32px;
  margin: 0 15px;
}

h2 {
  display: inline;
  font-size: 22px;
  position: relative;
  top: -4px;
}

.container_menu {
  text-align: end;
  position: relative;
  top: -40px;
  left: -25px;
  margin-bottom: -23px;
}

i.fa-solid.fa-hand-holding-heart {
  margin-right: 10px;
}

.container_route{
  margin: 102px 0px 15px;
}

@media(max-width: 999px) {
  h2 {
    top: -8px;
    font-size: 16px;
  }

  .menu {
    position: fixed;
    right: -280px;
    top: 64;
    width: 280px;
    height: 100%;
    background: #f2581a;
    transition: 0.4s ease-in-out;
    margin-top: -26px;
  }

  .menu ul li {
    display: block;
    text-align: left;
    margin: 0;
    padding: 10px 0 10px 26px;
    border-bottom: 1px solid #2121;
  }

  .container_menu {
    text-align: end;
    position: relative;
    top: 23px;
    margin-bottom: -16px;
  }

  .menu_icon {
    display: inline-block;
    position: relative;
    right: 0;
    top: -56px;
  }

  .menu_icon span {
    width: 32px;
    height: 3px;
    background: #ffffff;
    display: block;
    transition: 0.2s ease-in-out;

  }

  .menu_icon span:nth-child(2) {
    margin: 4px 0;
  }

  .menu_iconClass span:nth-child(2) {
    display: none;
  }

  .menu_iconClass span:nth-child(1) {
    transform: rotate(40deg);
  }

  .menu_iconClass span:nth-child(3) {
    transform: rotate(-40deg);
    margin-top: -3px;
  }

  .menuClasse {
    right: 0;
    transition: 0.4s ease-in-out;
  }

}
