<header>
  <div class="container">
    <div class="row">
      <div class="container_logo">
        <div class="logo">
          <a class="card" href="">
            <img alt=""
            src="assets/image/Logo-Fundacion-Todos-Sumamos-blanco.png"
            class="logo-img">
          </a>
        </div>
      </div>
      <div class="container_menu">
        <div class="menu_icon" [class.menu_iconClass]="menu_icon_variable" (click)="openMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="menu" [class.menuClasse]="menuVariable">
          <ul>
            <li><nav><a href="/sobre-nosotros">Sobre Nosotros</a></nav></li>
            <li><a href="/programas">Programas</a></li>
            <li><a href="/trabaja-con-nosotros">Trabaja con nosotros</a></li>
            <li><a href="/quiero-donar"><i class="fa-solid fa-hand-holding-heart"></i>Quiero donar</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container_route">
  <router-outlet></router-outlet>
</div>

