<div class="about-us">
  <img class="image-about-us" src="assets/image/Banner-10.png" alt="">
  <div class="container-about-us">
    <h1 class="tittle-about-us">Somos la Fundación Todos Sumamos.</h1>
    <p class="text-about-us">
      Acompañamos y asesoramos a las comunidades para fomentar el
      desarrollo humano, social y cultural.
    </p>
  </div>
</div>
<div class="container-descripcion">
  <div class="left-descripcion background-1">
    <div class="box-descripcion">
      <div class="container-form">
        <h2 class="titulo-descripcion text-left"><i class="fa-solid fa-handshake-angle"></i> QUIÉNES SOMOS</h2>
        <p class="text-left texto-descripcion">Somos una organización sin animo de lucro
          que tiene como objetivo acompañar y asesorar jóvenes de Colombia para fomentar
          el desarrollo humano, social y cultural involucrando diferentes tipos de
          actividades y disciplinas.</p>
      </div>
    </div>
  </div>
  <div class="right-descripcion">
    <img alt="" src="assets/image/Donacion-info-10.png" class="image-descripcion">
  </div>
</div>
<div class="container-descripcion-no">
  <div class="right-descripcion">
    <img alt="" src="assets/image/Donacion-info-15.png" class="image-descripcion">
  </div>
  <div class="left-descripcion background-2">
    <div class="box-descripcion">
      <div class="container-form">
        <h2 class="titulo-descripcion text-left"><i class="fa-regular fa-bullseye-arrow"></i> MISIÓN</h2>
        <p class="text-left texto-descripcion">Apoyar procesos de formación y desarrollo de talento humano
          en las comunidades de manera inclusiva y con responsabilidad social.</p>
      </div>
    </div>
  </div>
</div>
<div class="container-descripcion">
  <div class="left-descripcion background-3">
    <div class="box-descripcion">
      <div class="container-form">
        <h2 class="titulo-descripcion text-left"><i class="fa-solid fa-eye"></i> VISIÓN</h2>
        <p class="text-left texto-descripcion">Ser una fundación líder en procesos de formacion y
          desarrollo de talento humano para el año 2028 y reconocida a nivel nacional.</p>
      </div>
    </div>
  </div>
  <div class="right-descripcion">
    <img alt="" src="assets/image/Donacion-info-05.png" class="image-descripcion">
  </div>
</div>
