<div class="programs">
  <img class="image-programs" src="assets/image/Banner-25.png" alt="">
  <div class="container-programs">
    <h1 class="tittle-programs">Programas<span>-</span>Fundación Todos Sumamos</h1>
    <p class="text-programs">Súmate, contigo podemos.</p>
  </div>
</div>
<div class="programs-wrap">
  <div class="programs-box">
    <div class="box-image">
      <img src="assets/image/info-19.png" alt="" class="img-cover">
    </div>
    <div class="title-box">
      <h2>Procesos de desarrollo turistico</h2>
    </div>
    <div class="hover-box"></div>
    <div class="text-box">
      <p>Acompañamiento a las actividades de planificación y gestión del
        territorio, con el fin de propiciar la toma de decisiones conjunta
        para el fortalecimiento de la competitividad turística en coherencia
        con la realidad del destino.
      </p>
      <a (click)="openModal(modalTemplate)" class="btn-box">¡Saber más!</a>
    </div>
  </div>
  <div class="programs-box">
    <div class="box-image">
      <img src="assets/image/info-30.png" alt="" class="img-cover">
    </div>
    <div class="title-box">
      <h2>Reconocimiento de aprendizajes previos</h2>
    </div>
    <div class="hover-box"></div>
    <div class="text-box">
      <p>Participación en la creación de metodologias de evaluación a
        las personas que han adquirido habilidades, destrezas y conocimientos
        como parte de su experiencia de vida, para recibir una certificación de sus
        saberes formalizandose facilitando su inclusión social y laboral.
      </p>
    </div>
  </div>
  <div class="programs-box">
    <div class="box-image">
      <img src="assets/image/info-28.png" alt="" class="img-cover">
    </div>
    <div class="title-box">
      <h2>Organizaciones de base comunitaria</h2>
    </div>
    <div class="hover-box"></div>
    <div class="text-box">
      <p>Desarrollo de alternativas innovadoras de aprovechamiento de los recursos locales de manera
        sostenible, que permiten generar empleo y nuevas formas de generación de
        ingresos económicos a comunidades con recursos económicos limitados o
        excluidas.
      </p>
    </div>
  </div>
</div>
<ng-template #modalTemplate>
  <div>
    <embed src="assets/docs/Portafolio-de-Desarrollo-Turistico-FTS.pdf#toolbar=0&navpanes=0&scrollbar=0" type="application/pdf" width="100%" height="365px" />
  </div>
</ng-template>
