<div class="title-h2">
  <h2 class="text-center">QUÉ HACEMOS</h2>
</div>
<div class="serviciosv2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="tituloServicioV2 text-center"> HUMANO </h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="desk">
      <div class="row">
        <div class="col-md-6">
          <p class="text-left textoL"> Constituir instituciones de formación para el trabajo
            y el desarrollo humano para garantizar mejores
            procesos de formación a los jóvenes y en general a
            la población.
            </p>
        </div>
        <div class="col-md-6"> <img alt=""
            src="assets/image/apreton-manos-senal-saludo.jpg">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="serviciosv2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="tituloServicioV2 text-center"> SOCIAL </h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="desk">
      <div class="row row-dos">
        <div class="col-md-6"> <img alt=""
          src="assets/image/apreton-manos-senal-saludo.jpg">
        </div>
        <div class="col-md-6">
          <p class="text-left textoL"> <i class="fa-solid fa-circle-info primary"></i> Realizar proyectos de conectividad de internet y
            comunicaciones para ayudar a superar las
            brechas de desconexión que existen en el país.</p>
          <p class="text-left textoL"> <i class="fa-solid fa-circle-info primary"></i> Construcción de esenarios deportivos.</p>
          <p class="text-left textoL"> <i class="fa-solid fa-circle-info primary"></i> Brindar atención, asesoramiento y
            empoderamiento juvenil.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="serviciosv2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="tituloServicioV2 text-center"> CULTURAL </h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="desk">
      <div class="row">
        <div class="col-md-6">
          <p class="text-left textoL"> Certificar competencias y aprendizajes
            previos en el Marco Nacional de
            Cualificaciones y aprendizajes previos.
            </p>
        </div>
        <div class="col-md-6"> <img alt=""
            src="assets/image/apreton-manos-senal-saludo.jpg">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="serviciosv2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="tituloServicioV2 text-center"> SERVICIOS </h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="desk">
      <div class="row row-dos">
        <div class="col-md-6"> <img alt=""
          src="assets/image/apreton-manos-senal-saludo.jpg">
        </div>
        <div class="col-md-6">
          <p class="text-left textoL"><i class="fa-solid fa-circle-exclamation primary"></i> Te acompañamos juridicamente.</p>
          <p class="text-left textoL"><i class="fa-solid fa-circle-exclamation primary"></i> Te acompañamos contablemente.</p>
          <p class="text-left textoL"><i class="fa-solid fa-circle-exclamation primary"></i> Capacitaciones y proyectos deportivos.</p>
          <p class="text-left textoL"><i class="fa-solid fa-circle-exclamation primary"></i> Capacitaciones y proyectos artisticos.</p>
          <p class="text-left textoL"><i class="fa-solid fa-circle-exclamation primary"></i> Capacitaciones de emprendimientos
            Exposiciones cientificas.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="serviciosv2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="tituloServicioV2 text-center"> PROYECTOS </h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="desk">
      <div class="row">
        <div class="col-md-6">
          <p class="text-left textoL"><i class="fa-solid fa-hand-holding-hand primary"></i> Apoyar la planeación y
            financiación de proyectos de
            infraestructura encaminados
            al desarrollo de
            comunidades.
          </p>
          <p class="text-left textoL"><i class="fa-solid fa-hand-holding-hand primary"></i> Trabajar con población de
            escasos recursos para
            realizar inclusión, laboral,
            social y de cualificaciones.
          </p>
          <p class="text-left textoL"><i class="fa-solid fa-hand-holding-hand primary"></i> Apoyar mediante procesos
            de competencias laborales
            para que se reconozcan sus
            competencias y puedan
            generar mejores insumos.
        </p>
        </div>
        <div class="col-md-6"> <img alt=""
            src="assets/image/apreton-manos-senal-saludo.jpg">
        </div>
      </div>
    </div>
  </div>
</div>
