.programs {
  margin-bottom: -7px;
}

img.image-programs {
  width: 100%;
  max-height: 480px;
}

.container-programs {
  position: absolute;
  left: 0;
  right: 34%;
  top: 40%;
  width: 60%;
  max-width: 1280px;
  margin: 0 auto;
  color: #fff;
}

.tittle-programs {
  margin-bottom: 0;
  padding: 15px 25px;
  font-size: 56px;
  line-height: 1.2;
}

.tittle-programs span {
  font-size: 0;
  display: block;
}

.text-programs {
  padding: 15px 25px;
  margin: 0;
}

.programs-wrap{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -15px;
}

.text-sec{
  color: #fff;
  text-align: left;
  width: 60%;
}

.text-sec h3{
  font-size: 40px;
  line-height: 1;
}

.programs-box{
  display: flex;
  width: 33.33%;
  height: 38vw;
  cursor: pointer;
  position: relative;
}

a.programs-box{
  cursor: pointer;
}

.box-image{
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  right: 20px;
  position: absolute;
}

img.img-cover{
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.box-image:after{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.45);
}

.title-box{
  left: 65px;
  top: 20px;
  position: absolute;
  color: #fff;
}

.programs-box:hover .title-box{
  z-index: 2;
}

.title-box h2{
  font-size: 2em;
}

.programs-box:hover .hover-box{
  opacity: 1;
  z-index: 1;
  transition: opacity 0.55s ease-in-out;
  -webkit-transition: opacity 0.55s ease-in-out;
}

.programs-box .hover-box{
  opacity: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: linear-gradient(0deg, #313338 15%, #f2581a 52%, #313338);
  mix-blend-mode: multiply;
  transition: opacity 1s ease-in-out;
  align-items: center;
  position: absolute;
  display: flex;
}

.programs-box:hover .text-box{
  opacity: 1;
  z-index: 2;
}

.text-box{
  opacity: 0;
  left: 65px;
  top: 0;
  height: 100%;
  width: 80%;
  z-index: -1;
  transition: 0.4s;
  align-items: center;
  position: absolute;
  display: flex;
  color: #fff;
}

.btn-box{
  bottom: 20px;
  left: 0;
  right: auto;
  display: inline-block;
  border: 1px solid #fff;
  color: #fff;
  padding: 6px 25px;
  position: absolute;
  text-decoration: none;
  transition: 0.3s;
}

.programs-box .btn-box:hover {
  background-color: #fff;
  color: #000;
}

h2.title-box{
  font-size: xx-large;
}

.container-descripcion{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -16px;
  padding: 0px;
}

.left-descripcion{
  background-color: #1D5759;
  width: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 15px 0;
}

.right-descripcion{
  width: 50%;
  margin-bottom: -17px;
}

img.image-descripcion {
  width: 100%;
  height: 100%;
}

p.text-left.texto-descripcion {
  line-height: 26px;
}

h1.titulo-descripcion.text-left {
  font-size: 36px;
  margin-top: 0;
  line-height: 1;
}

.box-descripcion{
  width: 80%;
}

.container-form{
  width: 100%;
}

.form-group {
  margin-bottom: 1rem;
}

.form-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.form-row>.col, .form-row>[class*=col-] {
  padding-right: 5px;
  padding-left: 5px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button, input {
  overflow: visible;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-group-lg>.btn, .btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.btn-dark {
  color: #fff;
  background-color: #FFF;
  border-color: #343a40;
}

.btn {
  display: inline-block;
  font-weight: 400;
  width: 40%;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button, select {
  text-transform: none;
  overflow: visible;
}

textarea.form-control {
  height: auto;
}

textarea {
  overflow: auto;
  resize: vertical;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #f2581a;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #2c5444;
}

.btn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

h2.titulo-descripcion.text-left {
  font-size: 36px;
  line-height: 1;
}

@media(max-width: 999px) {
  img.image-programs {
    width: 100%;
    min-height: 230px;
  }
  .container-programs{
    right: 39%;
    line-height: 1.2;
    top: 190px;
  }

  .tittle-programs{
    padding: 5px 10px;
    font-size: 22px;
    min-height: 76px;
    margin-top: -7px;
  }
  .text-programs{
    padding: 5px 10px;
    width: auto;
    min-height: 48px;
    max-width: 100%;
    margin: -1px;
  }

  .sec-name-wrap {
    width: 100%;
    height: auto;
    padding: 40px 10px;
  }

  .text-sec {
    margin-left: 15px;
    width: 100%;
    text-align: center;
  }
  .text-sec h3{
    font-size: 28px;
  }

  .programs-box {
    width: 100%;
    height: 350px;
  }

  .title-box {
    left: 15px;
  }

  .title-box h2{
    font-size: 1.5em;
  }

  .text-box{
    left: 15px;
    top: 15%;
  }

  @keyframes show {
    from {
      opacity: 0;
      z-index: -1;
    }

    to {
      opacity: 1;
      z-index: 2;
    }
  }

  .text-box {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 70% cover 65%;
    animation-fill-mode: backwards;
  }

  @keyframes showhover {
    from {
      opacity: 0;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      background: linear-gradient(0deg, #313338 15%, #f2581a 52%, #313338);
      mix-blend-mode: multiply;
      transition: opacity 1s ease-in-out;
      align-items: center;
      position: absolute;
      display: flex;
    }

    to {
      opacity: 1;
      z-index: 1;
      transition: opacity 0.55s ease-in-out;
      -webkit-transition: opacity 0.55s ease-in-out;
    }
  }

  .programs-box .hover-box{
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: showhover;

    animation-range: entry 70% cover 70%;
    animation-fill-mode: backwards;
  }

  @keyframes showhovertitle {
    from {
      z-index: 0;
    }

    to {
      z-index: 2;
    }
  }

  .programs-box .title-box{
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: showhovertitle;

    animation-range: entry 70% cover 50%;
    animation-fill-mode: both;
  }

  .container-descripcion {
    flex-direction: column-reverse;
  }

  .left-descripcion{
    width: 100%;
    padding: 15px 17px 15px 13px;
  }

  .box-descripcion {
    width: 100%;
  }

  .right-descripcion {
    width: 100%;
    margin-bottom: -7px;
    margin-top: 15px;
  }

  .btn{
    width: 100%;
  }

  .btn-box{
    display: none;
  }
}


