<div class="donations">
    <img src="assets/image/circulo-huellas-manos.jpg" alt="">

    <div class="steps">
      <div class="tittle_donations">
        <h2>CONOCE AQUÍ
          CÓMO AYUDAR</h2>
        <i class="fa-solid fa-hand-holding-heart"></i>
      </div>
      <div class="step_1">
        <h2 class="tittle_step">1. Aporte en dinero</h2>
        <p class="text_step">Ingresa www.fundaciontodossumamos.org y
          haz tu donación para ayudar.
          Davivienda cuenta de ahorros No.
          Nequi y Daviplata 3102021718</p>
      </div>
      <div class="step_2">
        <h2 class="tittle_step">2. Aporte en especie</h2>
        <ul class="text_step">
          <li>Productos de aseo</li>
          <li>Juguetes</li>
          <li>Implementos deportivos</li>
          <li>Utiles escolares</li>
        </ul>
      </div>
      <div class="step_3">
        <h2 class="tittle_step">3. Aporte como aliado</h2>
        <p class="text_step">De acuerdo con tus habilidades y conocimientos
          puede hacer parte de los programas de la
          fundación.</p>
      </div>
    </div>
</div>
<app-boton-whatsapp></app-boton-whatsapp>
